body {
    background-color: black;
    color: white;
    font-family: 'Nunito', sans-serif;
    max-width: 768px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.day {
    background-color: rgb(26, 26, 26);
    display: inline-block;
    width: 12%;
    min-height: 64px;
    text-align: center;
    padding-top: 32px;
    font-size: x-large;
    border-color: rgb(49, 49, 49);
    border-style: solid;
    border-width: 2px;
    margin: 3px;
    border-radius: 10px;
}
